<div class="flex">
    <div class="flex justify-between w-full">
        <span class="text-3xl uppercase">Skill Details</span>
        <button mat-raised-button (click)="openModal()">
            <mat-icon>add</mat-icon>
            <span class="text-xl">Add Skill</span>
        </button>
    </div>
</div>

<div class="outer-div pt-8">
    <div class="w-full mat-elevation-z3">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
            <ng-container matColumnDef="skill-name">
                <th mat-header-cell *matHeaderCellDef>
                    Skill Name
                </th>
                <td style="width: 25%;" mat-cell *matCellDef="let element"
                    [ngClass]="{'add-border-top': element?.expanded}">
                    <span> {{element.skillName}} </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="skill-code">
                <th mat-header-cell *matHeaderCellDef> Skill Code </th>
                <td style="width: 25%;" mat-cell *matCellDef="let element"
                    [ngClass]="{'add-border-top': element?.expanded}">
                    <span> {{element.skillCode}} </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td style="width: 25%;" mat-cell *matCellDef="let element"
                    [ngClass]="{'add-border-top': element?.expanded}">
                    <span> {{element.description}} </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'add-border-top': element?.expanded}">
                    <div class="flex">
                        <app-skill-cell-renderer></app-skill-cell-renderer>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>