<div class="flex">
    <div class="flex justify-between w-full">
        <span class="text-3xl uppercase">Allocated Resources</span>
        <button mat-icon-button (click)="closeModal()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<div class="outer-div pt-8">
    <div class="mb-7 w-full mat-elevation-z3">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
            <ng-container matColumnDef="first-name">
                <th mat-header-cell *matHeaderCellDef>
                    First Name
                </th>
                <td style="width: 25%;" mat-cell *matCellDef="let element">
                    <span> {{element.firstName}} </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="last-name">
                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                <td style="width: 25%;" mat-cell *matCellDef="let element">
                    <span> {{element.lastName}} </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef> Designation </th>
                <td style="width: 25%;" mat-cell *matCellDef="let element">
                    <span> {{element.designation}} </span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>